<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="client-form">
        <h1 class="text-center">Add Client</h1>
        <div class="col-3 m-auto">
          <%= render "form", client: @client %>
        </div>
      </div>
    </div>
  </div>
</div>
